/*-- navbar --*/

.navbar {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 1.5em;
}

#quarto-header {
  border-bottom: 1px solid black;
}

.navbar-logo {
  max-height: 60px;
  width: auto;
  height: auto;
}

.quarto-color-scheme-toggle {
  display: flex; 
  justify-content: right; 
  align-items: center;
}

.navbar #quarto-search {
  margin-left: unset;
}

.navbar .quarto-navbar-tools {
  margin-left: auto;
}